

.square{

    width: 10em;
    height: 10em;
    background-color: cyan;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

p{
    position:absolute;
    font-size: 3em;
    user-select:none;
}